@import url('ajax.css');

label {
	font-weight: bold;
	display: block;
}

input, textarea {
	border: 1px solid #999;
	padding: 3px;
}

#person_frm_msg {
	display: none;
}

input.bigbtn {
    width: 200px;
}

.oddtr
{
/*	background-color:#EFF1F1;*/
	background-color:#FFFFCC;
}
.eventr
{
/*	background-color:#F8F8F8;*/
	background-color:#66CCFF;
}
.trover
{
	background-color: #0099CC;
}
.trclick
{
	background-color: #00CCCC;
}
.other {
    background-color: #6699CC;
}
