{% extends "base.html" %}

{% block title %}About page - edit{% endblock %}

{% block content %}
<h1 style="text-align: center;">Edit user info</h1>
<form method="post" action="">
    {% csrf_token %}
    <table border=5>
        {{ form }}
    </table>
    <br>
        {{ formset.management_form }}
        {% for form_c in formset.forms %}
            <p><table border=1>
                {{ form_c }}
            </table></p>
        {% endfor %}
    <p>
        <input type="submit" name="button_apply" value="Apply" />
        <input type="reset" value="Reset" />
        <input type="button" value="Cancel" onclick="location.href='/'" />
    </p>
</form>

<form method="post" action="">
    {% csrf_token %}
    <p><input type="submit" name="button_logout" value="logout" /></p>
</form>
{% endblock %}
