{% extends "base.html" %}

{% block title %}About page{% endblock %}

{% block content %}
    <h1 style="text-align: center;">All about us</h1>
    {% if object_list %}
        <ul>
        {% for person in object_list %}
            <li>
                <h2>{{ person }}</h2>
                <p><b>Birthdate:</b> {{ person.birth_date }}</p>
                <p><b>Biography:</b><br>{{ person.biography }}</p>
                <h4>Contacts:</h4>
                <ul>
                    {% for contact in person.contact_set.all %}
                        <li>{{ contact.get_contact_type_display }}: {{ contact.contact }}
                            {% if contact.contact_info %}
                                <br>Info: {{ contact.contact_info }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <br>
        {% endfor %}
        </ul>
    {% else %}
        <p>No person entries found.</p>
    {% endif %}
{% endblock %}
