{% if object_list %}
    <ul>
    {% for person in object_list %}
        <li>
            <h2>{{ person }}</h2>
            <p>{{ person.biography }}</p>
            <h4>Contacts:</h4>
            <ul>
                {% for contact in person.contact_set.all %}
                    <li>{{ contact.get_contact_type_display }}: {{ contact.contact }}
                        {% if contact.contact_info %}<br>Additional info:<br>{{ contact.contact_info }}{% endif %}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No person entries found.</p>
{% endif %}
