{% extends "base.html" %}

{% block title %}Requests info page{% endblock %}

{% block content %}
    {% if object_list %}
    <form method="post" action="">{% csrf_token %}
        <table border="1">
            <tr>
                <th>#</th>
                <th>Host</th>
                <th>Path</th>
                <th>Time</th>
                <th>Method</th>
                <th>Is Ajax</th>
                <th>Is Secure</th>
                <th>Priority</th>
            </tr>
            {% for request in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ request.host }}</td>
                    <td>{{ request.full_path }}</td>
                    <td>{{ request.datetime }}</td>
                    <td>{{ request.method }}</td>
                    <td>{{ request.is_ajax }}</td>
                    <td>{{ request.is_secure }}</td>
                    <td>{{ request.priority }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No request entries found.</p>
    {% endif %}
    <p>
        <input type="submit" name="clear_btn" value="Clear">
    <br>
        Post request with priority:
        <input type="submit" name="priorityVal" value="{{ priorityObj.PRIORITY_HIGH }}">
        <input type="submit" name="priorityVal" value="{{ priorityObj.PRIORITY_MEDIUM }}">
        <input type="submit" name="priorityVal" value="{{ priorityObj.PRIORITY_LOW }}">
    </p>
    </form>
    <form method="get" action="">
        Show requests with priority:
        <input type="submit" name="prior_btn" value="{{ priorityObj.PRIORITY_HIGH }}">
        <input type="submit" name="prior_btn" value="{{ priorityObj.PRIORITY_MEDIUM }}">
        <input type="submit" name="prior_btn" value="{{ priorityObj.PRIORITY_LOW }}">
        <input type="submit" name="prior_btn" value="Unsorted">
    </form>
    <p><a href="/">Back to biography</a></p>
    <p>settings.DEBUG = {{ settings.DEBUG }}</p>
{% endblock %}
